@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

:root {
  --color_white: #ffffff;
  --color_black: #010101;
  --color_success: #34c924;
  --color_danger: #f21511;
  --color_accent: #f34723;
  --linear_gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--linear_gradient), url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease;
  transform-style: preserve-3d;
  perspective: 100rem;
}
.form_box {
  width: 38rem;
  height: 55rem;
  margin: 5% auto;
  padding: 0.5rem;
  color: var(--color_white);
  background-color: rgba(255, 255, 255, 0.3);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  overflow: hidden;
}
.form_div {
  position: relative;
  width: 100%;
  height: 4.8rem;
  margin: 2rem 0 2.4rem;
}
#btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11rem;
  height: 100%;
  font-weight: 600;
  background: var(--color_accent);
  border-radius: 3rem;
  transition: 0.5s;
}
#login {
  left: 5rem;
}
#register {
  left: 45rem;
}
.btn_box {
  position: relative;
  width: 22rem;
  margin: 3.5rem auto;
  box-shadow: 0 0 2rem 0.9rem #1b1f2955;
  border-radius: 3rem;
}
.toggle_btn {
  position: relative;
  font-weight: 600;
  padding: 1rem 3rem;
  outline: none;
  border: 0;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.toggle_btn:hover {
  color: var(--color_white);
}
.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0 20px;
}
.social_icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.6em;
  background: transparent;
  border-radius: 50%;
  color: var(--color_black);
  box-shadow: 0 0 2rem 0.9rem #1b1f2955;
  margin: 0 1.2rem;
  transition: 0.2s;
}
.social_icons .icon:hover {
  background: var(--color_accent);
  color: var(--color_white);
}

.input_group {
  position: absolute;
  top: 18rem;
  width: 28rem;
  transition: 0.5s;
}
.form_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  padding: 1.6rem;
  background-color: transparent;
  box-shadow: 0 0 2rem 0.9rem #1b1f2955;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  transition: 0.3s;
  z-index: 1;
}
.form_label {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  padding: 0 0.4rem;
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--color_black);
  transition: 0.3s;
}
.form_input:focus + .form_label {
  top: -0.8rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color_accent);
  border-radius: 1rem;
  color: var(--color_white);
  padding: 0 0.5rem;
  z-index: 10;
}
.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label {
  top: -0.8rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color_accent);
  border-radius: 1rem;
  color: var(--color_white);
  z-index: 10;
}
.form_input:focus {
  border: 0.15rem solid var(--color_accent);
}
.checkbox {
  accent-color: var(--color_success);
  margin: 2rem 1rem 3rem 0.5rem;
  box-shadow: 0 0 2rem 0.5rem #1b1f2955;
  cursor: pointer;
}
.check_text {
  position: absolute;
  bottom: 6.8rem;
  font-size: 1.2rem;
  color: var(--color_black);
}
.submit_btn {
  position: relative;
  display: block;
  width: 85%;
  padding: 1rem 3rem;
  margin: auto;
  font-weight: 600;
  background-color: transparent;
  box-shadow: 0 0 2rem 0.9rem #1b1f2955;
  border: 0;
  border-radius: 3rem;
  outline: none;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.submit_btn:hover {
  color: var(--color_white);
  background-color: var(--color_accent);
}
.submit_btn span {
  position: absolute;
  background-color: var(--color_white);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: btnAnim 1s linear infinite;
}
@keyframes btnAnim {
  0% {
    width: 0rem;
    height: 0rem;
    opacity: 1;
  }
  100% {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}
.danger-color {
  color: var(--color_danger);
}
.error {
  border-color: var(--color_danger);
}
.valid {
  color: var(--color_success);
}
.error-msg {
  display: block;
  position: relative;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}
.hide {
  display: none;
}
.showbtn {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  color: var(--color_black);
  z-index: 100;
  cursor: pointer;
}

.password_validation {
  margin-top: 1.5rem;
}
.password_validation ul li {
  font-size: 1.4rem;
  padding-left: 0.5rem;
  color: var(--color_black);
}
.password_validation ul li.valid {
  color: var(--color_white);
}
.password_validation ul li::before {
  content: '\f192';
  width: 2rem;
  height: 1rem;
  font-family: fontAwesome;
  display: inline-flex;
}
.password_validation ul li.valid::before {
  content: '\f00c';
  color: var(--color_success);
}
.popup {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30rem;
  padding: 0 3rem 3rem;
  text-align: center;
  color: var(--color_black);
  background-color: var(--color_white);
  border-radius: 1rem;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.popup .valicon {
  font-size: 4rem;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  margin-top: -3rem;
  color: var(--white_color);
  background-color: var(--success_color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}
.popup h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 3rem 0 1rem;
}
.open_popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup .erroricon {
  font-size: 4rem;
  height: 6rem;
  width: 6rem;
  padding: 1rem;
  margin-top: -3rem;
  color: var(--white_color);
  background-color: var(--danger_color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

.popup .ok_btn {
  margin-top: 3rem;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--success_color);
  color: var(--white_color);
  border: 0;
  outline: none;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
