@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

:root {
  --color_white: #ffffff;
  --color_black: #010101;
  --color_success: #34c924;
  --color_danger: #f21511;
  --color_accent: #f34723;
  --linear_gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--linear_gradient), url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease;
  transform-style: preserve-3d;
  perspective: 100rem;
}
.form__box {
  width: 38rem;
  height: 55rem;
  margin: 5% auto;
  padding: 0.5rem;
  color: var(--color_white);
  background-color: rgba(255, 255, 255, 0.3);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  overflow: hidden;
}
.form__div {
}
.form__input {
}
.form__label {
}
.btn {
}
.btn__box {
}
.toggle {
}
.toggle__btn {
}
.social {
}
.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.social__icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  color: var(--color_black);
}
.social__icons .icon:hover {
  background: var(--color_accent);
  color: var(--color_white);
}
.input {
}
.input__group {
}
.checkbox {
}
.check {
}
.check_text {
}
.check__text {
}
.submit {
}
.submit_btn {
}
.hide {
  display: none;
}
.danger-color {
}
.error-msg {
}
.showbtn {
}
.password {
}
.password_validation {
}
.popup {
}
.fa-sharp {
}
.fa-check {
}
.valicon {
}
.ok {
}
.ok_btn {
}
.erroricon {
}
